<div class="row h-100 ">
	<div class="col-md-4 offset-md-4 col-sm-12 h-100 d-flex">
		<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="align-self-center block-02 p-3 w-100">
			<section class="bl-header pb-2 mb-2 d-flex">
				<h4 class="flex-grow-0">New Category</h4>
				<div class="action flex-grow-1">
					X
				</div>
			</section>
			<mat-form-field class="w-100" appearance="fill">
				<mat-label>Email</mat-label>
				<input type="email" name="loginEmail"  [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
				       matInput ngModel email required
				>
				<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="w-100">
				<input type="password" name="loginPassword"
				       matInput ngModel required
				/>
			</mat-form-field>
		</form>
	</div>

</div>
