mat-list-item {
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

mat-list-item:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.add-icon {
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

mat-list-item:hover .add-icon {
  opacity: 1;
}

mat-spinner {
  margin-right: 8px;
}
