<div class="d-flex flex-column h-100">
	<div class="p-4 ts-bg-primary-dark flex-grow-0 ">
		<b>LOGO</b>
	</div>
	<ul class="list-unstyled flex-grow-1">
		<li class="p-3 text-center">
			<i class="bi-house-fill f-xx-large"></i>
		</li>

		<li class="p-3 text-center">
			<i class="bi-boxes f-xx-large"></i>
		</li>

		<li class="p-3 text-center">
			<i class="bi-alarm-fill f-xx-large"></i>
		</li>
	</ul>
	<div class="flex-grow-0">
		<div class="p-3 text-center">
			<i class="bi-gear-fill f-xx-large"></i>
		</div>
	</div>
</div>

