<!-- src/app/task/task.component.html -->
<div class="flex-col gap-y-2 h-100 m-0 bg-purple-50 p-4">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <app-blanket>
    <section class="bl-header pb-2 mb-2 flex space-x-6 justify-content-between">
      <h2 class="flex-grow-1 m-0">
        Task Management
      </h2>
      <div class="flex items-center space-x-4">
        <div class="relative">
          <label for="name" class="absolute -top-2 left-2 inline-block rounded-lg bg-white px-1 text-xs font-medium text-gray-900">Search</label>
          <input
            (keyup)="applyFilter($event)"
            type="text"
            class="block w-56 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            placeholder="Search task here">
        </div>
        <div class="relative">
          <label for="project" class="absolute -top-2 left-2 inline-block rounded-lg bg-white px-1 text-xs font-medium text-gray-900">Project</label>
          <div class="w-56">
            <mat-select (selectionChange)="applyProjectFilter($event.value)" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 border outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="relative">
          <label for="status" class="absolute -top-2 left-2 inline-block rounded-lg bg-white px-1 text-xs font-medium text-gray-900">Status</label>
          <div class="w-56">
            <mat-select (selectionChange)="applyStatusFilter($event.value)" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 border outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" [value]="2">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let status of statusParams" [value]="status.value">{{ status.label }}</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <app-button-ui size="small" (click)="openNewDialog()">
          New Task
        </app-button-ui>
      </div>
    </section>
    <div class="flex-grow-1">
      <table mat-table matSort [dataSource]="dataSource" class="w-100">
        <!-- Display taskNumber Column -->
        <ng-container matColumnDef="taskNumber">
          <th width="150" mat-header-cell *matHeaderCellDef> # </th>
          <td class="text-gray-800 font-bold" mat-cell *matCellDef="let element"> {{element.taskNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th width="380" mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
          <td class="pe-2" mat-cell *matCellDef="let element" (dblclick)="editCell(element, 'name')">
            <input class="p-2 border rounded-md w-full" *ngIf="isEditing(element, 'name')" [(ngModel)]="element.name" (blur)="saveEdit(element, 'name')" />
            <span *ngIf="!isEditing(element, 'name')">{{element.name}}</span>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="project">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Project </th>
          <td class="pe-2 text-gray-500" mat-cell *matCellDef="let element" (dblclick)="editCell(element, 'project')">
            <mat-select
              class="p-1 border rounded-md"
              *ngIf="isEditing(element, 'project')"
              [(ngModel)]="element.project"
              (selectionChange)="saveEdit(element, 'project')"
            >
              <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
            </mat-select>
            <span *ngIf="!isEditing(element, 'project')">{{ getProjectName(element.project) }}</span>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th class="w-28" mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
          <td class="pe-2" [ngClass]="element.status | statusColor" mat-cell *matCellDef="let element" (dblclick)="editCell(element, 'status')" >
            <mat-select
              class="p-1 border rounded-md"
              *ngIf="isEditing(element, 'status')"
              [(ngModel)]="element.status"
              (selectionChange)="saveEdit(element, 'status')"
            >
              <mat-option value=1>Not Start</mat-option>
              <mat-option value=2>On Going</mat-option>
              <mat-option value=3>Completed</mat-option>
              <mat-option value=4>On Hold</mat-option>
              <mat-option value=5>Cancelled</mat-option>
            </mat-select>
            <span *ngIf="!isEditing(element, 'status')">{{element.status | status}}</span>
          </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
        </ng-container>

        <!-- Number of Days Column -->
        <ng-container matColumnDef="numberOfDays">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Days </th>
          <td class="text-gray-300" mat-cell *matCellDef="let element"> {{element.numberOfDays}} </td>
        </ng-container>

        <!-- Level Of Effort (loe) Column -->
        <ng-container matColumnDef="loe">
          <th class="w-14" mat-header-cell mat-sort-header *matHeaderCellDef> LOE </th>
          <td class="pe-2" mat-cell *matCellDef="let element" (dblclick)="editCell(element, 'loe')">
            <input class="p-1 border rounded-md w-12" *ngIf="isEditing(element, 'loe')" [(ngModel)]="element.loe" (blur)="saveEdit(element, 'loe')" />
            <span *ngIf="!isEditing(element, 'loe')">{{element.loe}}</span>
          </td>
        </ng-container>

        <!-- Percentage of Task Column -->
        <<ng-container matColumnDef="percentageCompletion">
          <th class="w-16" mat-header-cell mat-sort-header *matHeaderCellDef> Percentage </th>
          <td class="pe-2" mat-cell *matCellDef="let element" (dblclick)="editCell(element, 'percentageCompletion')">
            <input class="p-1 border rounded-md w-14" *ngIf="isEditing(element, 'percentageCompletion')" [(ngModel)]="element.percentageCompletion" (blur)="saveEdit(element, 'percentageCompletion')" />
            <span *ngIf="!isEditing(element, 'percentageCompletion')">{{element.percentageCompletion | percentage}}</span>
          </td>
        </ng-container>


        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            Action
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex justify-center">
              <button mat-icon-button class="small-icon-button" (click)="openEditDialog(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="small-icon-button" (click)="openDeleteDialog(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                      [pageSize]="pageSize"
                     aria-label="Select page of projects">
      </mat-paginator>

    </div>
  </app-blanket>
</div>
