<main class="h-100 ts-bg-primary">
	<div class="h-100 d-flex flex-row">
		<div class="flex-grow-0 text-white h-100">
			<app-left-navigation></app-left-navigation>
		</div>
		<div class="flex-grow-1 p-0 h-100 bg-light d-flex flex-column">
			<header class="bg-white shadow-lg">
				<nav class="navbar navbar-light p-3">
					<div class="container-fluid">
						<a class="navbar-brand">Tracking System</a>
						<form class="d-flex">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</header>
			<main class="flex-grow-1">
				<form>

				</form>
			</main>
			<footer class="p-3 border-top">footer</footer>
		</div>
	</div>
</main>
