@import "assets/scss/variable";
@import "assets/scss/block-container";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body    { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a       { text-decoration: none; }
.ts-bg-primary { background-color: $purple;}
.ts-bg-primary-dark { background-color: $dark-purple;}

// Todo list
.todo-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.todo-list.small-list {
  font-size: 12px;
}
.todo-list.small-list > li {
  background: #f3f3f4;
  border-left: none;
  border-right: none;
  border-radius: 4px;
  color: inherit;
  margin-bottom: 2px;
  padding: 6px 6px 6px 12px;
}
.todo-list.small-list .btn-xs,
.todo-list.small-list .btn-group-xs > .btn {
  border-radius: 5px;
  font-size: 10px;
  line-height: 1.5;
  padding: 1px 2px 1px 5px;
}
.todo-list > li {
  background: #f3f3f4;
  border-left: 6px solid #e7eaec;
  border-right: 6px solid #e7eaec;
  border-radius: 4px;
  color: inherit;
  margin-bottom: 2px;
  padding: 10px;
}
.todo-list .handle {
  cursor: move;
  display: inline-block;
  font-size: 16px;
}

.todo-list > li .label {
  font-size: 9px;
  margin-left: 10px;
}

//font sizes
.f-xx-large   { font-size: xx-large; }
.f-x-large    { font-size: x-large; }
.f-large      { font-size: large;}


// override
.shadow-lg { box-shadow: 0 0 28px 0 rgba(86,61,124,.1) !important}
.btn-primary { background-color: $primary; border: $primary;}
.btn-primary:hover { background-color: $indigo; }

// icons
.custom-small-icon {
  width: 16px !important; /* Adjust the width as needed */
  height: 16px !important; /* Adjust the height as needed */
}

.small-icon-button .mat-icon {
  font-size: 16px; /* Adjust the icon size as needed */
}


// override quill editor
.ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}
